.nav{
    height: 50px;
    border: 1px solid green;
    display: flex;
justify-content: space-around;
    align-items: center;
    

}
.img{
    width: 40px;
}
.nigeria{
    width: 25px;
    height: 25px;
    background-color: #9BB4B8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    img{
        width: 20px;
    }
}

.signup{
    display: flex;
}
.navs{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}